.title {
  text-align: center;
  font-family: Times New Roman;
}

body {
background: linear-gradient(125deg, #d6d6d6 0%, #b0b0b0 54%);
}

#metarGrabber {
  display: block;
  margin:0 auto;
  padding: 70px;
  border-style: solid;
  border-radius: 25px;
  height: 100px;
  position: relative;
}

#metarDecoded {
  display: block;
  margin:0 auto;
  padding: 70px;
  border-style: solid;
  border-radius: 25px;
  height: 500pxpx;
}

#getMetar {
  display: block;
  margin: 0 auto;
  text-align: center;
  position: relative;
  bottom: 75px;
  background-color: white;
  transition-duration: 0.3s;
  border-radius: 5px;
}

#getMetar:hover {
  background-color: lightgrey;
}

#icaoInput {
  display: block;
  margin:0 auto;
  text-align: center;
  width: 65px;
  padding: 3px;
  font-size: 13px;
  border-radius: 5px;
  border: 1px solid black;
  position: relative;
  bottom: 80px;
}

#metarOutput {
  text-align: center;
  position: relative;
  bottom: 60px;
}

#metarTitle {
  text-align: center;
  position: relative;
  bottom: 80px;
}

#decodeMetar {
  display: block;
  margin:0 auto;
  text-align: center;
  position: absolute;
  top: 210px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  transition-duration: 0.3s;
  border-radius: 5px;
}

#decodeMetar:hover {
  background-color: lightgrey;
}

#decodeMetarTitle {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 335px;
}
